* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    background-color: #087E8B;
    height: 75px;
    width: 100%;
}

nav {
    display: flex;
    height: 75px;
    align-items: center;
    padding: 25px;
    gap: 75px;
}

nav img {
    height: 75px;
}

nav img:hover {
    
}

nav a {
    text-decoration: none;
    color: #FFFDFD;
    transition: background-color 0.3s, color 0.3s;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
}

nav a:hover {
    background-color: #FFFDFD;
    color: #087E8B;
}