* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    background-color: #087E8B;
    height: 75px;
    width: 100%;
}

nav {
    display: flex;
    height: 100%;
    align-items: flex-end;
    padding-right: 25px;
    padding-left: 25px;
    padding-bottom: 15px;
    gap: 50px;
}

nav img {
    height: 75px;
}